name: Release
on:
  push:
    branches:
      - master

permissions:
  contents: write
  id-token: write

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: package.json
      - name: Install dependencies
        run: npm ci
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_KEY }}
        uses: JoshuaKGoldberg/release-it-action@v0.2.2
